{%  load static %}
{% include '../header.html'%}
<h1>{{ post.author }}</h1>

<p><strong>Day of made:</strong> {{ post.day_made }}</p>
<p><strong>pages:</strong> {{ post.pages }} </p>
<p><strong>jenres:</strong> {{ post.jenres }} </p>
<p><strong>Discription:</strong> {{ post.discription }}</p>
<p><strong>Created:</strong> {{ post.created_at }}</p>


{% if post.photo %}
    <img src="{{ post.photo.url }}" width="300">
{% endif %}

{% for i in post.review.all %}
    <h3>Review: {{ i.text }}</h3>
    <span>{{ i.marks }}</span>
    <p>{{ i.created_at }}</p>
    <hr>
{% empty %}
    <p>No reviews yet.</p>
{% endfor %}
<br><br>
<a href="/news_list/">Back</a>

{% include '../footer.html'%}